
.cardContainer {
  background-color:#f8f8f8;
  width: 6rem;
  height: auto;
  padding: 1rem;
  border-radius: 15px;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cardContainer:hover {
  background-color:#f0f0f0;
  cursor: pointer;
}

body {
  background-color: #ffffff;
}